
global
log /dev/log local0
log /dev/log local1 notice
chroot /var/lib/haproxy
stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
stats timeout 30s
user haproxy
group haproxy
daemon

# Default SSL material locations
ca-base /etc/ssl/certs
crt-base /etc/ssl/private

# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets
ssl-default-server-ciphers PROFILE=SYSTEM
ssl-dh-param-file /etc/haproxy/dhparams.pem

defaults
log global
mode HTTP
option httplog
option dontlognull
timeout connect 5000
timeout client 50000
timeout server 50000
errorfile 400 /etc/haproxy/errors/400.http
errorfile 403 /etc/haproxy/errors/403.http
errorfile 408 /etc/haproxy/errors/408.http
errorfile 500 /etc/haproxy/errors/500.http
errorfile 502 /etc/haproxy/errors/502.http
errorfile 503 /etc/haproxy/errors/503.http
errorfile 504 /etc/haproxy/errors/504.http

frontend apiserver
bind 100.xxx.xxx.xxx:6443
option tcplog
mode tcp
default_backend apiserver

backend apiserver
option httpchk GET /healthz
http-check expect status 200
mode tcp
option ssl-hello-chk
balance round-robin
server k8s-master1 {{ ansible_all_ipv4_addresses[1] }}:6443 check
server k8s-master2 {{ ansible_all_ipv4_addresses[1] }}:6443 check
server k8s-master3 {{ ansible_all_ipv4_addresses[1] }}:6443 check

frontend HTTP
bind 100.xxx.xxx.xxx:80,100.xxx.xxx.xxx:443
option tcplog
mode tcp
use_backend https if { dst_port 443 }
default_backend http

backend HTTP
mode tcp
balance round-robin
server k8s-master1 {{ ansible_all_ipv4_addresses[1] }}:31989 check send-proxy-v2
server k8s-master2 {{ ansible_all_ipv4_addresses[1] }}:31989 check send-proxy-v2
server k8s-master3 {{ ansible_all_ipv4_addresses[1] }}:31989 check send-proxy-v2

backend https
mode TCP
balance round-robin
server k8s-master1 {{ ansible_all_ipv4_addresses[1] }}:30640 check send-proxy-v2
server k8s-master2 {{ ansible_all_ipv4_addresses[1] }}:30640 check send-proxy-v2
server k8s-master3 {{ ansible_all_ipv4_addresses[1] }}:30640 check send-proxy-v2

