
vrrp_script chk_haproxy {
    script “/usr/bin/killall -0 haproxy”
    interval 2
    weight 2
}
# Configuration for Virtual Interface
vrrp_instance LB_VIP {
    interface lo
    state MASTER # set to BACKUP on the peer machine
    priority 101 # set to 100 on the peer machine
    virtual_router_id 51
    authentication {
        auth_type AH
        auth_pass myP@ssword # Password for accessing vrrpd. Same on all devices
    }
    unicast_src_ip {{ ansible_all_ipv4_addresses[1] }} # 192.168.1.1 # Private IP address of master
    unicast_peer {
        {{ ansible_all_ipv4_addresses[1] }} # 192.168.1.2 # Private IP address of the backup haproxy
    }
    # The virtual ip address shared between the two loadbalancers
    virtual_ipaddress {
        127.0.0.1 # scope host lo
    }
    # Use the Defined Script to Check whether to initiate a fail over
    track_script {
        chk_haproxy
    }
}