vrrp_script chk_haproxy {
    script “/usr/bin/killall -0 haproxy”
    interval 2
    weight 2
}
vrrp_instance LB_VIP {
    interface eth0
    state BACKUP
    priority 100
    virtual_router_id 51
    authentication {
        auth_type AH
        auth_pass myP@ssword
    }
    unicast_src_ip {{ ansible_all_ipv4_addresses[1] }} # 192.168.1.2 # Private IP address of the backup haproxy
    unicast_peer {
     {{ ansible_all_ipv4_addresses[1] }} # 192.168.1.1 # Private IP address of the master haproxy
    }
    # The virtual ip address shared between the two loadbalancers
    virtual_ipaddress {
        127.0.0.1 scope host lo # 100.xxx.xxx.xxx dev eth1 label eth1:1
    }
    track_script {
        chk_haproxy
    }
}